html {
  background: #203855;
  background: #6C7989 linear_gradient(#6C7989, #434B55) fixed; }

body {
  background: #29286800;
}

.wrapper {
  width: auto;
  margin: 10px 20%;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px; 
  align-content: left;
  padding: 2%
}

footer {
  color: #a59f9f;
  padding-left: 85%;
  font-size: small;
}

img {
  max-width: 100%; }

.navbar-toggler.design1 {
  cursor:pointer;
}

.fa-1x {
  font-size:1.5rem
}

button {
  text-emphasis: 10;
}

.text-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
}

@media (max-width: 580px) {
  .large-screen-img {
    display: none;
  }
}

@media (min-width: 580px) {
  .small-screen-item {
    font-size:0;
  }
}